*.iml
.idea
/server/server.iml
*/node_modules
/locationeo4j/docker/db/
*/node_modules/*
/locationeo4j/app/node_modules/
/aggrshopdata/app/node_modules/
*-hidden.json
*node_modules
/locationeo4j/docker/plugins/neo4j-spatial-0.23-neo4j-3.0.4-server-plugin.jar
/shopsN4j/docker/plugins/neo4j-spatial-0.23-neo4j-3.0.4-server-plugin.jar
*/db/
*.jar